{% import 'macros/items.html' as items %}
{% extends 'layouts/admin.html' %}
{% block background_color %}{% endblock %}
{% block header %}
<link href="/css/abpoll.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<section class="section">
    <div class="">
        <div class="row">
            <div class="col-xl-4 col-lg-5 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="sidebar sticky-bar" id="right-sidebar">
                    <div class="card border-0 rounded shadow sticky-bar bg-light">
                        <div class="card-body">
                            <!-- Categories -->
                            <div class="widget mb-4 pb-2">
                                <h5 class="widget-title">ABpoll Insights</h5>
                                <form class="login-form mt-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input type="email" class="form-control ps-5" placeholder="Email" name="email" required="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Password <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="key" class="fea icon-sm icons"></i>
                                                    <input type="password" class="form-control ps-5" placeholder="Password" required="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="d-flex justify-content-between">
                                                <div class="mb-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                                                    </div>
                                                </div>
                                                <p class="forgot-pass mb-0"><a href="auth-re-password-three.html" class="text-dark fw-bold">Forgot password ?</a></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-0">
                                            <div class="d-grid">
                                                <button class="btn btn-primary btn-pills">Sign in</button>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="mb-0 mt-4"><small class="text-dark me-2">Don't have an account ?</small> <a href="auth-signup-three.html" class="text-dark fw-bold">Sign Up</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Categories -->

                            <!-- RECENT POST -->
                            <div class="widget mb-4 pb-2">
                                <h5 class="widget-title">Recent Replies</h5>
                                <ul class="list-unstyled mb-0 mt-4">
                                    <li class="text-muted small h6"><i data-feather="user" class="fea icon-sm"></i><a href="javascript:void(0)" class="text-dark ms-2">Ameliya</a> on <a href="javascript:void(0)" class="text-primary">Privacy policy</a></li>
                                    <li class="text-muted small h6"><i data-feather="user" class="fea icon-sm"></i><a href="javascript:void(0)" class="text-dark ms-2">Crista</a> on <a href="javascript:void(0)" class="text-primary">HTML Template hosts</a></li>
                                    <li class="text-muted small h6"><i data-feather="user" class="fea icon-sm"></i><a href="javascript:void(0)" class="text-dark ms-2">John</a> on <a href="javascript:void(0)" class="text-primary">Specific error messages</a></li>
                                    <li class="text-muted small h6"><i data-feather="user" class="fea icon-sm"></i><a href="javascript:void(0)" class="text-dark ms-2">Jafrin</a> on <a href="javascript:void(0)" class="text-primary">Network administration</a></li>
                                    <li class="text-muted small h6 mb-0"><i data-feather="user" class="fea icon-sm"></i><a href="javascript:void(0)" class="text-dark ms-2">Harry</a> on <a href="javascript:void(0)" class="text-primary">Customized template options</a></li>
                                </ul>
                            </div>
                            <!-- RECENT POST -->

                            <!-- SOCIAL -->
                            <div class="widget">
                                <h5 class="widget-title">Follow us</h5>
                                <ul class="list-unstyled social-icon social mb-0 mt-4">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                            <!-- SOCIAL -->
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-8 col-xl-8">
                <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-bottom p-3" style="min-width: 300px;">Forums Title</th>
                                <th scope="col" class="border-bottom p-3 text-center" style="max-width: 150px;">Posted</th>
                                <th scope="col" class="border-bottom p-3 text-center" style="width: 100px;">Topics</th>
                                <th scope="col" class="border-bottom p-3 text-end" style="width: 100px;">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Introductions: Landrick</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">Calvin</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Web Designing and Developing</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">George</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Hosting and providers</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">Parthiv</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">SEO starter guide</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">David</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Troubleshooting and managing issues</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">Tiger</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Backup and restore</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">Cristina</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Errors and how to fix them</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">Miriam</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Template features &amp; Services</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">Janalia</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>

                            <tr>
                                <td class="p-3">
                                    <div class="d-flex">
                                        <i class="uil uil-comment text-muted h5"></i>
                                        <div class="flex-1 content ms-3">
                                            <a href="forums-topic.html" class="forum-title text-primary fw-bold">Landrick includes the ability to create a better of sites by using the multisite feature.</a>
                                            <p class="text-muted small mb-0 mt-1">Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center small p-3 h6">Harry</td>
                                <td class="text-center small p-3">3</td>
                                <td class="text-center small p-3 text-end">5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->
</section>
{% endblock %}