{% extends 'layouts/clean.html' %}
{% import 'macros/form.html' as f with context %}
{% block title %}Reset Password / ABpoll{% endblock %}
{% block description %}Reset your abpoll password.{% endblock %}
{% block content %}
<!-- Hero Start -->
<section class="bg-home d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6 d-none d-md-block d-lg-block">
                <div class="me-lg-5">
                    <img src="/images/user/recovery.svg" class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="card border-0">
                    <div class="card-body">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} fade show mb-0">{{ message|safe }}</div>
                        <br>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <h4 class="card-title text-center">Recover Account</h4>

                        <form class="login-form mt-4 needs-validation" action="{%if password_form == False %}{{url_for('user.recover_password')}}{% else %}{{url_for('user.reset_password_token', token=token)}}{% endif %}"  method="post" novalidate>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                            <div class="row">
                                <div class="col-lg-12">
                                    {% if password_form ==  False %}
                                    <p class="text-muted">Please enter your email address. You will receive a link to create a new password via email.</p>
                                    {% endif %}
                                    <div class="mb-3">
                                        <label class="form-label">Email address <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="mail" class="fea icon-sm icons{% if password_form %} disabled-icon{%  endif %}"></i>
                                            <input type="email" maxlength="60" name="email" class="form-control ps-5" {% if password_form %} value="{{email}}" disabled readonly {% else %}autofocus {% endif %} required="">
                                            <div class="invalid-feedback">
                                                Please enter a valid email
                                            </div>
                                        </div>
                                        {% if password_form %}
                                        <label class="form-label">New Password <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input type="password" minlength="8" maxlength="128" name="password_1" class="form-control ps-5" required="" autofocus>
                                            <div class="invalid-feedback">
                                                Minimum eight characters, at least one letter and one number!
                                            </div>

                                        </div>
                                        <label class="form-label">Retype Password <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input type="password" minlength="8" maxlength="128" name="password_2" class="form-control ps-5" required="">
                                            <div class="invalid-feedback">
                                                Minimum eight characters, at least one letter and one number!
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div class="d-grid">
                                        <input type="submit" class="btn btn-primary btn-pills" value="Send"/>
                                    </div>
                                </div><!--end col-->
                                <div class="mx-auto">
                                    <p class="mb-0 mt-3"><small class="text-dark me-2">Remember your password ?</small> <a href="{{url_for('user.login')}}" class="text-dark fw-bold">Sign in</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
{% endblock %}