/*********************************/
/*         INDEX                 */
/*================================
 *     01.  Wrappers             *
 *     02.  Components           *
 *     03.  Feature              *
 *     04.  Toggle Insights      *
 ================================*/
/*********************************/
/*         Wrappers             */
/*===============================*/
.insights-wrapper {
    flex: 0 0 auto;
    width: 300px;
    position: fixed;
    bottom: 0;
    z-index: 1999;
}

.body-height {
    height: calc(100% - 71px);
    max-height: calc(100% - 71px);
}

@media(width > 1024px){
    .maps-wrapper {
        width: calc(100% - 600px);
    }
}

@media(width <= 1024px){
    .maps-wrapper {
        width: calc(100% - 300px);
    }
}

.maps-wrapper {
    flex: 0 0 auto;
    position: fixed !important;
    right: 0;
    bottom: 0;
}

/*********************************/
/*          Components          */
/*===============================*/

.gradient-line-percentage {
    margin: auto;
    background: linear-gradient(135deg, #2eca8b 0%,#e43f52 100%);
    height: 5px;
    border-radius: 1px;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    height: 15px;
}

.w-10 {
    flex: 0 0 auto;
    width: 10%;
}

.insights-line-gradient{
    height: 15px;
    background: linear-gradient(to right, #25625C 10%, #47AD9F 10% 20%, #A2D8C8 20% 30%, #DDE2CD 30% 40%, #EDD4B1 40% 50%, #ECAA82 50% 60%, #EA8E63 60% 70%, #E76842 70% 80%, #E13E2D 80% 90%, #B62E23 90%);
}

.color-bar{
    flex: 0 0 auto;
    margin: auto;
    height: 5px;
    width: 10%;
    height: 15px;
}

.col-12-padding{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.btn.searchbtn {
    padding: 6px 20px;
}


.auto-expand {
    display: flex;
    flex-direction: column;
}

.text-a-option {
    color: #25625C !important
}

.text-b-option {
    color: #B62E23 !important
}


/*********************************/
/*          Feature             */
/*===============================*/

.features.feature-primary .icon {
    background: rgba(47, 85, 212, .1)
}
.features.feature-primary .image:before {
    background: linear-gradient(45deg, transparent, rgba(47, 85, 212, .1))
}
.features.feature-primary .color,
.features.feature-primary .read-more {
    color: #2f55d4 !important
}
.features.feature-primary.feature-clean .icons {
    color: #2f55d4 !important
}
.features.feature-primary.feature-clean .icons i {
    background-color: rgba(47, 85, 212, .1)
}
.features.feature-primary.feature-clean .title:hover {
    color: #2f55d4 !important
}
.features.feature-primary.feature-full-bg .icon-color {
    color: #2f55d4 !important
}
.features.feature-primary.feature-full-bg:hover {
    background-color: #2f55d4 !important
}
.features.feature-primary.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(47, 85, 212, .15));
    color: #2f55d4
}
.features.feature-primary.course-feature .full-img {
    color: #2f55d4 !important
}
.features.feature-primary.explore-feature:hover .icons,
.features.feature-primary.explore-feature:hover .title {
    color: #2f55d4 !important
}
.features.feature-primary .btn-soft {
    background-color: rgba(47, 85, 212, .05) !important;
    border: 1px solid rgba(47, 85, 212, .05) !important;
    color: #2f55d4 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, .1);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, .1)
}
.features.feature-primary .btn-soft.active,
.features.feature-primary .btn-soft.focus,
.features.feature-primary .btn-soft:active,
.features.feature-primary .btn-soft:focus,
.features.feature-primary .btn-soft:hover {
    background-color: #2f55d4 !important;
    border-color: #2f55d4 !important;
    color: #fff !important
}
.features.feature-primary:hover .image:before {
    background: rgba(47, 85, 212, .1)
}
.features.feature-secondary .icon {
    background: rgba(108, 117, 125, .1)
}
.features.feature-secondary .image:before {
    background: linear-gradient(45deg, transparent, rgba(108, 117, 125, .1))
}
.features.feature-secondary .color,
.features.feature-secondary .read-more {
    color: #6c757d !important
}
.features.feature-secondary.feature-clean .icons {
    color: #6c757d !important
}
.features.feature-secondary.feature-clean .icons i {
    background-color: rgba(108, 117, 125, .1)
}
.features.feature-secondary.feature-clean .title:hover {
    color: #6c757d !important
}
.features.feature-secondary.feature-full-bg .icon-color {
    color: #6c757d !important
}
.features.feature-secondary.feature-full-bg:hover {
    background-color: #6c757d !important
}
.features.feature-secondary.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(108, 117, 125, .15));
    color: #6c757d
}
.features.feature-secondary.course-feature .full-img {
    color: #6c757d !important
}
.features.feature-secondary.explore-feature:hover .icons,
.features.feature-secondary.explore-feature:hover .title {
    color: #6c757d !important
}
.features.feature-secondary .btn-soft {
    background-color: rgba(108, 117, 125, .05) !important;
    border: 1px solid rgba(108, 117, 125, .05) !important;
    color: #6c757d !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(108, 117, 125, .1);
    box-shadow: 0 3px 5px 0 rgba(108, 117, 125, .1)
}
.features.feature-secondary .btn-soft.active,
.features.feature-secondary .btn-soft.focus,
.features.feature-secondary .btn-soft:active,
.features.feature-secondary .btn-soft:focus,
.features.feature-secondary .btn-soft:hover {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: #fff !important
}
.features.feature-secondary:hover .image:before {
    background: rgba(108, 117, 125, .1)
}
.features.feature-success .icon {
    background: rgba(46, 202, 139, .1)
}
.features.feature-success .image:before {
    background: linear-gradient(45deg, transparent, rgba(46, 202, 139, .1))
}
.features.feature-success .color,
.features.feature-success .read-more {
    color: #2eca8b !important
}
.features.feature-success.feature-clean .icons {
    color: #2eca8b !important
}
.features.feature-success.feature-clean .icons i {
    background-color: rgba(46, 202, 139, .1)
}
.features.feature-success.feature-clean .title:hover {
    color: #2eca8b !important
}
.features.feature-success.feature-full-bg .icon-color {
    color: #2eca8b !important
}
.features.feature-success.feature-full-bg:hover {
    background-color: #2eca8b !important
}
.features.feature-success.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(46, 202, 139, .15));
    color: #2eca8b
}
.features.feature-success.course-feature .full-img {
    color: #2eca8b !important
}
.features.feature-success.explore-feature:hover .icons,
.features.feature-success.explore-feature:hover .title {
    color: #2eca8b !important
}
.features.feature-success .btn-soft {
    background-color: rgba(46, 202, 139, .05) !important;
    border: 1px solid rgba(46, 202, 139, .05) !important;
    color: #2eca8b !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(46, 202, 139, .1);
    box-shadow: 0 3px 5px 0 rgba(46, 202, 139, .1)
}
.features.feature-success .btn-soft.active,
.features.feature-success .btn-soft.focus,
.features.feature-success .btn-soft:active,
.features.feature-success .btn-soft:focus,
.features.feature-success .btn-soft:hover {
    background-color: #2eca8b !important;
    border-color: #2eca8b !important;
    color: #fff !important
}
.features.feature-success:hover .image:before {
    background: rgba(46, 202, 139, .1)
}
.features.feature-info .icon {
    background: rgba(23, 162, 184, .1)
}
.features.feature-info .image:before {
    background: linear-gradient(45deg, transparent, rgba(23, 162, 184, .1))
}
.features.feature-info .color,
.features.feature-info .read-more {
    color: #17a2b8 !important
}
.features.feature-info.feature-clean .icons {
    color: #17a2b8 !important
}
.features.feature-info.feature-clean .icons i {
    background-color: rgba(23, 162, 184, .1)
}
.features.feature-info.feature-clean .title:hover {
    color: #17a2b8 !important
}
.features.feature-info.feature-full-bg .icon-color {
    color: #17a2b8 !important
}
.features.feature-info.feature-full-bg:hover {
    background-color: #17a2b8 !important
}
.features.feature-info.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(23, 162, 184, .15));
    color: #17a2b8
}
.features.feature-info.course-feature .full-img {
    color: #17a2b8 !important
}
.features.feature-info.explore-feature:hover .icons,
.features.feature-info.explore-feature:hover .title {
    color: #17a2b8 !important
}
.features.feature-info .btn-soft {
    background-color: rgba(23, 162, 184, .05) !important;
    border: 1px solid rgba(23, 162, 184, .05) !important;
    color: #17a2b8 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(23, 162, 184, .1);
    box-shadow: 0 3px 5px 0 rgba(23, 162, 184, .1)
}
.features.feature-info .btn-soft.active,
.features.feature-info .btn-soft.focus,
.features.feature-info .btn-soft:active,
.features.feature-info .btn-soft:focus,
.features.feature-info .btn-soft:hover {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    color: #fff !important
}
.features.feature-info:hover .image:before {
    background: rgba(23, 162, 184, .1)
}
.features.feature-warning .icon {
    background: rgba(241, 116, 37, .1)
}
.features.feature-warning .image:before {
    background: linear-gradient(45deg, transparent, rgba(241, 116, 37, .1))
}
.features.feature-warning .color,
.features.feature-warning .read-more {
    color: #f17425 !important
}
.features.feature-warning.feature-clean .icons {
    color: #f17425 !important
}
.features.feature-warning.feature-clean .icons i {
    background-color: rgba(241, 116, 37, .1)
}
.features.feature-warning.feature-clean .title:hover {
    color: #f17425 !important
}
.features.feature-warning.feature-full-bg .icon-color {
    color: #f17425 !important
}
.features.feature-warning.feature-full-bg:hover {
    background-color: #f17425 !important
}
.features.feature-warning.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(241, 116, 37, .15));
    color: #f17425
}
.features.feature-warning.course-feature .full-img {
    color: #f17425 !important
}
.features.feature-warning.explore-feature:hover .icons,
.features.feature-warning.explore-feature:hover .title {
    color: #f17425 !important
}
.features.feature-warning .btn-soft {
    background-color: rgba(241, 116, 37, .05) !important;
    border: 1px solid rgba(241, 116, 37, .05) !important;
    color: #f17425 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(241, 116, 37, .1);
    box-shadow: 0 3px 5px 0 rgba(241, 116, 37, .1)
}
.features.feature-warning .btn-soft.active,
.features.feature-warning .btn-soft.focus,
.features.feature-warning .btn-soft:active,
.features.feature-warning .btn-soft:focus,
.features.feature-warning .btn-soft:hover {
    background-color: #f17425 !important;
    border-color: #f17425 !important;
    color: #fff !important
}
.features.feature-warning:hover .image:before {
    background: rgba(241, 116, 37, .1)
}
.features.feature-danger .icon {
    background: rgba(228, 63, 82, .1)
}
.features.feature-danger .image:before {
    background: linear-gradient(45deg, transparent, rgba(228, 63, 82, .1))
}
.features.feature-danger .color,
.features.feature-danger .read-more {
    color: #e43f52 !important
}
.features.feature-danger.feature-clean .icons {
    color: #e43f52 !important
}
.features.feature-danger.feature-clean .icons i {
    background-color: rgba(228, 63, 82, .1)
}
.features.feature-danger.feature-clean .title:hover {
    color: #e43f52 !important
}
.features.feature-danger.feature-full-bg .icon-color {
    color: #e43f52 !important
}
.features.feature-danger.feature-full-bg:hover {
    background-color: #e43f52 !important
}
.features.feature-danger.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(228, 63, 82, .15));
    color: #e43f52
}
.features.feature-danger.course-feature .full-img {
    color: #e43f52 !important
}
.features.feature-danger.explore-feature:hover .icons,
.features.feature-danger.explore-feature:hover .title {
    color: #e43f52 !important
}
.features.feature-danger .btn-soft {
    background-color: rgba(228, 63, 82, .05) !important;
    border: 1px solid rgba(228, 63, 82, .05) !important;
    color: #e43f52 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(228, 63, 82, .1);
    box-shadow: 0 3px 5px 0 rgba(228, 63, 82, .1)
}
.features.feature-danger .btn-soft.active,
.features.feature-danger .btn-soft.focus,
.features.feature-danger .btn-soft:active,
.features.feature-danger .btn-soft:focus,
.features.feature-danger .btn-soft:hover {
    background-color: #e43f52 !important;
    border-color: #e43f52 !important;
    color: #fff !important
}
.features.feature-danger:hover .image:before {
    background: rgba(228, 63, 82, .1)
}
.features.feature-light .icon {
    background: rgba(248, 249, 250, .1)
}
.features.feature-light .image:before {
    background: linear-gradient(45deg, transparent, rgba(248, 249, 250, .1))
}
.features.feature-light .color,
.features.feature-light .read-more {
    color: #f8f9fa !important
}
.features.feature-light.feature-clean .icons {
    color: #f8f9fa !important
}
.features.feature-light.feature-clean .icons i {
    background-color: rgba(248, 249, 250, .1)
}
.features.feature-light.feature-clean .title:hover {
    color: #f8f9fa !important
}
.features.feature-light.feature-full-bg .icon-color {
    color: #f8f9fa !important
}
.features.feature-light.feature-full-bg:hover {
    background-color: #f8f9fa !important
}
.features.feature-light.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(248, 249, 250, .15));
    color: #f8f9fa
}
.features.feature-light.course-feature .full-img {
    color: #f8f9fa !important
}
.features.feature-light.explore-feature:hover .icons,
.features.feature-light.explore-feature:hover .title {
    color: #f8f9fa !important
}
.features.feature-light .btn-soft {
    background-color: rgba(248, 249, 250, .05) !important;
    border: 1px solid rgba(248, 249, 250, .05) !important;
    color: #f8f9fa !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(248, 249, 250, .1);
    box-shadow: 0 3px 5px 0 rgba(248, 249, 250, .1)
}
.features.feature-light .btn-soft.active,
.features.feature-light .btn-soft.focus,
.features.feature-light .btn-soft:active,
.features.feature-light .btn-soft:focus,
.features.feature-light .btn-soft:hover {
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
    color: #fff !important
}
.features.feature-light:hover .image:before {
    background: rgba(248, 249, 250, .1)
}
.features.feature-dark .icon {
    background: rgba(33, 37, 41, .1)
}
.features.feature-dark .image:before {
    background: linear-gradient(45deg, transparent, rgba(33, 37, 41, .1))
}
.features.feature-dark .color,
.features.feature-dark .read-more {
    color: #212529 !important
}
.features.feature-dark.feature-clean .icons {
    color: #212529 !important
}
.features.feature-dark.feature-clean .icons i {
    background-color: rgba(33, 37, 41, .1)
}
.features.feature-dark.feature-clean .title:hover {
    color: #212529 !important
}
.features.feature-dark.feature-full-bg .icon-color {
    color: #212529 !important
}
.features.feature-dark.feature-full-bg:hover {
    background-color: #212529 !important
}
.features.feature-dark.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(33, 37, 41, .15));
    color: #212529
}
.features.feature-dark.course-feature .full-img {
    color: #212529 !important
}
.features.feature-dark.explore-feature:hover .icons,
.features.feature-dark.explore-feature:hover .title {
    color: #212529 !important
}
.features.feature-dark .btn-soft {
    background-color: rgba(33, 37, 41, .05) !important;
    border: 1px solid rgba(33, 37, 41, .05) !important;
    color: #212529 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(33, 37, 41, .1);
    box-shadow: 0 3px 5px 0 rgba(33, 37, 41, .1)
}
.features.feature-dark .btn-soft.active,
.features.feature-dark .btn-soft.focus,
.features.feature-dark .btn-soft:active,
.features.feature-dark .btn-soft:focus,
.features.feature-dark .btn-soft:hover {
    background-color: #212529 !important;
    border-color: #212529 !important;
    color: #fff !important
}
.features.feature-dark:hover .image:before {
    background: rgba(33, 37, 41, .1)
}
.features.feature-footer .icon {
    background: rgba(32, 41, 66, .1)
}
.features.feature-footer .image:before {
    background: linear-gradient(45deg, transparent, rgba(32, 41, 66, .1))
}
.features.feature-footer .color,
.features.feature-footer .read-more {
    color: #202942 !important
}
.features.feature-footer.feature-clean .icons {
    color: #202942 !important
}
.features.feature-footer.feature-clean .icons i {
    background-color: rgba(32, 41, 66, .1)
}
.features.feature-footer.feature-clean .title:hover {
    color: #202942 !important
}
.features.feature-footer.feature-full-bg .icon-color {
    color: #202942 !important
}
.features.feature-footer.feature-full-bg:hover {
    background-color: #202942 !important
}
.features.feature-footer.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(32, 41, 66, .15));
    color: #202942
}
.features.feature-footer.course-feature .full-img {
    color: #202942 !important
}
.features.feature-footer.explore-feature:hover .icons,
.features.feature-footer.explore-feature:hover .title {
    color: #202942 !important
}
.features.feature-footer .btn-soft {
    background-color: rgba(32, 41, 66, .05) !important;
    border: 1px solid rgba(32, 41, 66, .05) !important;
    color: #202942 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(32, 41, 66, .1);
    box-shadow: 0 3px 5px 0 rgba(32, 41, 66, .1)
}
.features.feature-footer .btn-soft.active,
.features.feature-footer .btn-soft.focus,
.features.feature-footer .btn-soft:active,
.features.feature-footer .btn-soft:focus,
.features.feature-footer .btn-soft:hover {
    background-color: #202942 !important;
    border-color: #202942 !important;
    color: #fff !important
}
.features.feature-footer:hover .image:before {
    background: rgba(32, 41, 66, .1)
}
.features.feature-muted .icon {
    background: rgba(132, 146, 166, .1)
}
.features.feature-muted .image:before {
    background: linear-gradient(45deg, transparent, rgba(132, 146, 166, .1))
}
.features.feature-muted .color,
.features.feature-muted .read-more {
    color: #8492a6 !important
}
.features.feature-muted.feature-clean .icons {
    color: #8492a6 !important
}
.features.feature-muted.feature-clean .icons i {
    background-color: rgba(132, 146, 166, .1)
}
.features.feature-muted.feature-clean .title:hover {
    color: #8492a6 !important
}
.features.feature-muted.feature-full-bg .icon-color {
    color: #8492a6 !important
}
.features.feature-muted.feature-full-bg:hover {
    background-color: #8492a6 !important
}
.features.feature-muted.key-feature .icon {
    background: linear-gradient(45deg, transparent, rgba(132, 146, 166, .15));
    color: #8492a6
}
.features.feature-muted.course-feature .full-img {
    color: #8492a6 !important
}
.features.feature-muted.explore-feature:hover .icons,
.features.feature-muted.explore-feature:hover .title {
    color: #8492a6 !important
}
.features.feature-muted .btn-soft {
    background-color: rgba(132, 146, 166, .05) !important;
    border: 1px solid rgba(132, 146, 166, .05) !important;
    color: #8492a6 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(132, 146, 166, .1);
    box-shadow: 0 3px 5px 0 rgba(132, 146, 166, .1)
}
.features.feature-muted .btn-soft.active,
.features.feature-muted .btn-soft.focus,
.features.feature-muted .btn-soft:active,
.features.feature-muted .btn-soft:focus,
.features.feature-muted .btn-soft:hover {
    background-color: #8492a6 !important;
    border-color: #8492a6 !important;
    color: #fff !important
}
.features.feature-muted:hover .image:before {
    background: rgba(132, 146, 166, .1)
}
.features .image:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    -webkit-transform: rotate(33.75deg);
    transform: rotate(33.75deg)
}
.features.feature-clean {
    background-color: #fff
}
.features.feature-clean .icons i {
    height: 65px;
    width: 65px;
    line-height: 65px
}
.features .ride-image {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.features .ride-image img {
    border-radius: 100% 100% 100% 0
}
.features.key-feature {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
.features.key-feature:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 5px 13px rgba(60, 72, 88, .2) !important;
    box-shadow: 0 5px 13px rgba(60, 72, 88, .2) !important
}
.features:hover .image:before {
    -webkit-animation: spinner-border 5s linear infinite !important;
    animation: spinner-border 5s linear infinite !important
}
.features.feature-full-bg {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.features.feature-full-bg .big-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    opacity: .015;
    font-size: 180px
}
.features.feature-full-bg:hover {
    -webkit-box-shadow: 0 10px 25px rgba(60, 72, 88, .15);
    box-shadow: 0 10px 25px rgba(60, 72, 88, .15);
    color: #fff !important
}
.features.feature-full-bg:hover .icon-color i,
.features.feature-full-bg:hover .para {
    color: rgba(255, 255, 255, .5) !important
}
.features.feature-full-bg:hover .content,
.features.feature-full-bg:hover .icon-color {
    z-index: 2
}
.features.feature-full-bg:hover .big-icon {
    opacity: .05
}
.features.feature-full-bg:hover .readmore {
    color: #fff !important
}
.features.course-feature {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.features.course-feature .full-img {
    position: absolute;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
    z-index: -2;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 250px
}
.features.course-feature:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}
.features.course-feature:hover .full-img {
    opacity: .05
}
.features.explore-feature {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.features.explore-feature .icons {
    height: 80px;
    width: 80px;
    line-height: 80px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.features.explore-feature:hover {
    -webkit-box-shadow: 0 10px 25px rgba(60, 72, 88, .15) !important;
    box-shadow: 0 10px 25px rgba(60, 72, 88, .15) !important
}
.features .title,
.key-feature .title {
    font-size: 18px !important
}
.features .icon,
.key-feature .icon {
    height: 45px;
    min-width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.work-process {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.work-process .step,
.work-process .step-icon {
    opacity: .06
}
.work-process a {
    font-size: 15px
}
.work-process.process-arrow:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 40px;
    top: 30px;
    left: 80%;
    background: url(../images/process.png) center center no-repeat;
    z-index: 1
}
@media (max-width:767px) {
    .work-process.process-arrow:after {
        display: none
    }
}
.work-process.process-arrow:hover {
    -webkit-transform: none !important;
    transform: none !important
}
.work-process:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}
.work-process.d-none-arrow:hover {
    -webkit-transform: none !important;
    transform: none !important
}
.features-absolute {
    position: relative;
    z-index: 2;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.features-absolute {
    margin: -200px 0 0
}
@media (max-width:768px) {
    .features-absolute {
        margin: -140px 0 0
    }
}
.features-absolute.blog-search {
    margin: -120px 0 0
}
@media (max-width:768px) {
    .features-absolute.blog-search {
        margin: -90px 0 0
    }
}


/*********************************/
/*       Toggle Insights        */
/*===============================*/

.m-300 {
    margin-left: 300px !important;
}

.switcher-btn {
    margin-left: 0.4px;
    position: fixed;
    top: 81px;
    height: 41px;
    width: 40px;
    padding: 3px;
    border-radius: 0 30px 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2000;
}