{% extends 'layouts/admin.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h6 class="text-muted mb-1">Welcome back, {{current_user.display_username()}}!</h6>
                <h5 class="mb-0">Dashboard</h5>
            </div>

            <div class="mb-0 position-relative">
                <select class="form-select form-control" id="dailychart">
                    <option selected="">All Time</option>
                </select>
            </div>
        </div>

        <div class="row row-cols-xl-5 row-cols-md-2 row-cols-1">
            <div class="col mt-4">
                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-check fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Votes</h6>

                            <p class="fs-5 text-dark fw-bold mb-0">{{group_and_count_votes.total}}</p>
                        </div>
                    </div>

<!--                    <span class="text-danger"><i class="uil uil-chart-down"></i> 0.5%</span>-->
                </a>
            </div><!--end col-->

            <div class="col mt-4">
                <a href="{{url_for('admin.users')}}" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-users-alt fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Users</h6>
                            <p class="fs-5 text-dark fw-bold mb-0">{{group_and_count_users.total}}</p>
                        </div>
                    </div>

<!--                    <span class="text-success"><i class="uil uil-arrow-growth"></i> 3.84%</span>-->
                </a>
            </div><!--end col-->

            <div class="col mt-4">
                <a href="{{url_for('admin.posts_review')}}" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-scenery fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Posts</h6>
                            <p class="fs-5 text-dark fw-bold mb-0">{{group_and_count_posts.total}}</p>
                        </div>
                    </div>

<!--                    <span class="text-success"><i class="uil uil-arrow-growth"></i> 1.46%</span>-->
                </a>
            </div><!--end col-->

            <div class="col mt-4">
                <a href="#topics" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-subject fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Topics</h6>
                            <p class="fs-5 text-dark fw-bold mb-0">{{topics | length}}</p>
                        </div>
                    </div>

<!--                    <span class="text-muted"><i class="uil uil-analysis"></i> 0.0%</span>-->
                </a>
            </div><!--end col-->

            <div class="col mt-4">
                <a href="#!" class="features feature-primary d-flex justify-content-between align-items-center bg-white rounded shadow p-3">
                    <div class="d-flex align-items-center">
                        <div class="icon text-center rounded-pill">
                            <i class="uil uil-comment fs-4 mb-0"></i>
                        </div>
                        <div class="flex-1 ms-3">
                            <h6 class="mb-0 text-muted">Comments</h6>
                            <p class="fs-5 text-dark fw-bold mb-0"><span class="counter-value" data-target="{{group_and_count_comments.total}}">0</span></p>
                        </div>
                    </div>

<!--                    <span class="text-danger"><i class="uil uil-chart-down"></i> 0.5%</span>-->
                </a>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-xl-8 col-lg-7 mt-4">
                <div class="card shadow border-0 p-4 pb-0 rounded">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-0">Votes Analytics</h6>
                        <div class="mb-0 position-relative">
                            <select class="form-select form-control" id="year-chart">
                                <option selected>2022</option>
                            </select>
                        </div>
                    </div>
                    <div id="dashboard-display" class="apex-chart"></div>
                </div>
            </div><!--end col-->

            <div class="col-xl-4 col-lg-5 mt-4 rounded">
                <div class="card shadow border-0">
                    <div class="p-4 border-bottom">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-0">Upcoming Activity</h6>

                            <a href="https://github.com/Dorcy64/abpoll-flask/issues" target="_blank" class="text-primary">See More <i class="uil uil-arrow-right align-middle"></i></a>
                        </div>
                    </div>

                    <div class="p-4" data-simplebar style="height: 365px;">
                        <a href="javascript:void(0)" class="features feature-primary key-feature d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-circle me-3">
                                    <i class="uil uil-user"></i>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 text-dark">Give users a way to hide voted-on posts from profile</h6>
                                    <small class="text-warning">Priority</small>
                                </div>
                            </div>

                            <i class="uil uil-arrow-up text-warning"></i>
                        </a>

                        <a href="javascript:void(0)" class="features feature-success key-feature d-flex align-items-center justify-content-between mt-4">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-circle me-3">
                                    <i class="uil uil-gift"></i>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 text-dark">Add a way to server side render all posts</h6>
                                    <small class="text-info">Enhancement</small>
                                </div>
                            </div>

                            <i class="uil uil-arrow-down text-success"></i>
                        </a>

                        <a href="javascript:void(0)" class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-circle me-3">
                                    <i class="uil uil-scroll"></i>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 text-dark">Make scrolling smoother</h6>
                                    <small class="text-info">Enhancement</small>
                                </div>
                            </div>

                            <i class="uil uil-arrow-down text-success"></i>
                        </a>

                        <a href="javascript:void(0)" class="features feature-danger key-feature d-flex align-items-center justify-content-between mt-4">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-circle me-3">
                                    <i class="uil uil-users-alt"></i>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 text-dark">View group's votes</h6>
                                    <small class="text-primary">Feature</small>
                                </div>
                            </div>

                            <i class="uil uil-arrow-down text-success"></i>
                        </a>

                        <a href="javascript:void(0)" class="features feature-primary key-feature d-flex align-items-center justify-content-between mt-4">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-circle me-3">
                                    <i class="uil uil-money-withdraw"></i>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 text-dark">Add premium section</h6>
                                    <small class="text-primary">Feature</small>
                                </div>
                            </div>

                            <i class="uil uil-arrow-down text-success"></i>
                        </a>

                        <a href="javascript:void(0)" class="features feature-success key-feature d-flex align-items-center justify-content-between mt-4">
                            <div class="d-flex align-items-center">
                                <div class="icon text-center rounded-circle me-3">
                                    <i class="uil uil-gift"></i>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 text-dark">Remove topic poll sorting</h6>
                                    <small class="text-muted">Deprecated</small>
                                </div>
                            </div>

                            <i class="uil uil-trash"></i>
                        </a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-xl-4">
                <div class="row">
                    <div class="col-xl-12 mt-4">
                        <div class="card rounded shadow border-0 p-4">
                            <div class="d-flex justify-content-between mb-4">
                                <h6 class="mb-0">Monthly Votes Report</h6>

                                <div class="text-end">
                                    <h5 class="mb-0 total-votes-30-days">0</h5>
                                    <h6 class="text-muted mb-0">September</h6>
                                </div>
                            </div>
                            <div id="sale-chart"></div>
                        </div>
                    </div><!--end col-->

                    <div class="col-xl-12 mt-4">
                        <div class="card rounded shadow border-0 p-4">
                            <div class="d-flex justify-content-between mb-4">
                                <h6 class="mb-0">Top Topics</h6>

                                <div class="text-end">
                                    <h6 class="text-muted mb-0">All Time</h6>
                                </div>
                            </div>
                            <div id="top-product-chart"></div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->

            <div class="col-xl-8 mt-4" id="topics">
                <div class="d-flex justify-content-between p-4 bg-white shadow rounded-top">
                    <h6 class="mb-0">Topic List</h6>

                    <ul class="list-unstyled mb-0">
                        <li class="dropdown dropdown-primary list-inline-item">
                            <button type="button" class="btn btn-icon btn-pills btn-soft-primary dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="uil uil-dots-vertical"></i></button>
                            <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow border-0 mt-3 py-3">
                                <a class="dropdown-item text-dark" href="#"> Paid</a>
                                <a class="dropdown-item text-dark" href="#"> Unpaid</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="table-responsive shadow rounded-bottom" data-simplebar style="height: 550px;">
                    <table class="table table-center bg-white mb-0">
                        <thead>
                            <tr>
                                <th class="border-bottom p-3 w-100" style="min-width: 220px;">Topic Name</th>
                                <th class="text-center border-bottom p-3" >Posts</th>
                                <th class="text-center border-bottom p-3" style="min-width: 150px;">Last Post (Dt.)</th>
                                <th class="text-end border-bottom p-3" style="min-width: 100px;">Preview</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for topic in topics%}
                            <!-- Start -->
                            <tr>
                                <td class="p-3">
                                    <a href="{{url_for('post.user_page', username=topic.username)}}" target="blank" class="text-primary">
                                        <div class="d-flex align-items-center">
                                            <img src="{{topic.retrieve_profile_picture()}}" class="avatar avatar-ex-small rounded-circle shadow" alt="">
                                            <span class="ms-2 text-dark">{{topic.display_username()}}</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="text-center p-3">{{topic.post | length }}</td>
                                <td class="text-center p-3">{% if topic.post | length > 0%}{{moment(topic.post[-1].created_on).fromNow(no_suffix = False)}}{% endif %}</td>
                                <td class="text-end ps-3">
                                    <a href="{{url_for('post.user_page', username=topic.username)}}" target="blank" class="btn btn-sm btn-dark">Preview</a>
                                </td>
                            </tr>
                            <!-- End -->
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
</div><!--end container-->

{% endblock %}

{% block footer %}
<!-- Apex Charts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js" integrity="sha512-yhdujT21BI/kqk9gcupTh4jMwqLhb+gc6Ytgs4cL0BJjXW+Jo9QyllqLbuluI0cBHqV4XsR7US3lemEGjogQ0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
